.main {
  max-width: 1200px;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
  padding: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 680px;
  width: 100%;
  gap: 20px;
  margin-top: 85px;
}

.input {
  width: 100%;
  height: 35px;
  padding: 0 12px;
  border: 1px solid white;
  border-radius: 6px;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 6px;
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  width: 280px;
  height: 35px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}
