.main {
  padding: 6rem;
  min-height: 100vh;
}

.info,
.posts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info {
  border: 1px solid white;
  border-radius: var(--border-radius);
  padding: 25px;
}

.title {
  margin: 40px 0;
  text-decoration: underline;
}