.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.title,
.subtitle {
  text-align: center;
  text-decoration: none;
}

.subtitle {
  margin-top: 4rem;
}

.link {
  text-decoration: underline;
}
