.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 20px 40px;
  border-bottom: 1px solid white;
}

.left-side-container {
  display: flex;
  align-items: center;
  gap: 120px;
}

.navbar-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.right-side-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.signout {
  cursor: pointer;
}