.notifications-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}

.notification {
  max-width: 480px;
  width: 100%;
  margin: 5px;
  padding: 20px;
  border: 1px solid white;
  background-color: black;
}